# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Env
.env

# Node
node_modules/
dist/
.vite/

# Data (large files, don't commit)
data/raw/*
!data/raw/.gitkeep
*.tif
*.tiff

# OS
.DS_Store

# Docker
*.log